<h2>Welcome home</h2>


	<form name="newPostForm" ng-submit="postFormToggle()">
		<button type="submit">Post Form Toggle</button>
		<div ng-show="toggleForm">
			<input type="text" ng-model="newPostTitle" placeholder="Enter a title"/>
			<input type="text" ng-model="newPostLink" placeholder="Enter a link"/>
			<input type ="text" ng-model="newPostTag" placeholder="Enter relevant Tags"/>
			
		</div>
	</form>
	<button ng-show="toggleForm" ng-click="cancel()">Cancel</button>


<div class="post" ng-repeat="post in posts | orderBy: 'createdAt' : true">
	<ul>
		<li> Title: {{ post.title }}, Link: <a target="_blank" ng-href="{{ post.link }}">{{post.link}}</a>, Tag: {{ post.tag }}
		</li>

	</ul>
	
	<button ng-click="toggleAddCommentSwitch($index)">View / Add comment</button>
	
	<div ng-show="$index === indexToShow">
		<input type="text" ng-model="newComment.text" placeholder="comment!"/>
		<button ng-click="addComment(post, newComment)">Post</button>
		<ul><li ng-repeat = "(key, value) in post.comments">{{value.text}}</li></ul>
		
	</div>

</div>